<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền camera, không bắt buộc -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Quyền Internet, cần thiết cho Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Quyền đọc ảnh trên Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Quyền đọc bộ nhớ ngoài trên Android 12 trở xuống -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Quyền đọc và ghi trạng thái mạng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Quyền truy cập cài đặt hệ thống (độ sáng) -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Quyền truy cập mạng Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctruyen">

        <!-- Các Activity khác của ứng dụng -->
        <activity
            android:name=".user.ChapterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddChapterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditChapterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.add_truyen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail.AdminStoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.Settings.HoTro"
            android:exported="false" />
        <activity
            android:name=".user.Settings.TKvaBM"
            android:exported="false" />
        <activity
            android:name=".user.Settings.ThongBao"
            android:exported="false" />
        <activity
            android:name=".user.Settings.GioiThieu"
            android:exported="false" />
        <activity
            android:name=".user.Settings.CongDong"
            android:exported="false" />
        <activity
            android:name=".user.Settings.DieuKhoan"
            android:exported="false" />
        <activity
            android:name=".user.ImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".user.HomeFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.main"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageUsersFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageChaptersFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageStoriesFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ChapterListActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
